@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Public Sans', sans-serif;
  font-size: 1em;
  line-height: 1.65;
  margin: 0;
  color: #191919;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3 {
  font-size: 2em;
  font-weight: 700;
    text-decoration: none;
}

p {
  font-size: 1rem;
}

a {
  color: currentColor;
  text-decoration: none;
}


a:hover {
  color: #ED4763 !important;
  transition: all 0.3s;
}

.wrapper {
  width: calc(100% - 10vmin);
  margin: 0 auto;
  padding: 3vmin 0 10vmin 0;
}

.blog-wrapper {
  width: calc(100% - 10vmin);
  margin: 0 auto;
  padding: 3vmin 0 6vmin 0;
}
/**
 * article grid
 */
.article-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 3fr));
  grid-gap: 4vmin;
}

/**
 *
 */
.section-headline {
  padding: 0 0 0.4em 0;
  margin: 60px 0 5vmin 0;
  border-bottom: 1px solid #ddd;
  font-size: 1.98818rem; 
  font-weight: bold;
}

/**
 *
 */
.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-inline li {
  display: inline-block;
}

@media (max-width: 600.98px) { 
  .article-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1vmin;
  }
}