.navigation {
  display: flex;
  justify-content: left;
  list-style: none;
  padding: 0;
}

.navigationItem {
  display: inline-flex;
  align-items: left;
  margin-top: .002em;
}

.navigationItem h1 {
  font-size: 1.98818rem; 
  font-weight: bold;
  color: #fff;
}

.navigationItem a {
  color: currentColor;
}

.navWrapper {
  width: calc(100% - 10vmin);
  margin: 0 auto;
  background-color: rgb(25, 25, 25);
}

.nav-wrapper img {
  width: 148px;
  height: 30px;
}

@media (max-width: 600.98px) { 
  .navigationItem {
    position: relative;
    right: 14px;
  }
}
